.img{
    width: 50px;
    height: 50px;
}

.imgA{
    width: 80%;
    height: 80%;
}

.imgPrincipal{
    margin-top: 3%;
    margin-left: 10%;
    width: 80%;
}

body,html{
    font-family: 'Roboto', sans-serif;
}

#header{
    width: 100%;
    background-color: transparent;
    transition: background ease-out 0.2s;
}

#header.active{
    position: fixed;
    background: white;
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.2);
    z-index: 9999;
}

#header .navbar-collapse{
    width: auto;
}

#header .nav-link{
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 0;
    padding-right: 0;
    color: black;
    border-bottom: solid 4px transparent;
}

#header .nav-link:hover{
    border-bottom: solid 4px red;
    color: var(--secondary);
}

#slider{
    background-size: contain;
}

#slider h1{
    text-transform: uppercase;
    font-weight: 900;
}

#slider h4{
    font-size: 18px;
    text-transform: uppercase;
}

.containerPrincipal h4{
    margin-left: 10%;
    margin-right: 10%;
}

.submenu:hover .dropdown-menu {
    display: initial;
}

#btn2{
    background-color: #40474f;
    border: #40474f;
}

#btn2:hover{
    background-color: #191a1b;
}
